:root {
  /*--accent: #1ed760;*/
  --accent: #77B28C;
}

html,
body {
  font-family: "Staatliches", sans-serif;
  background-color: #C2C5BB;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  display: inline-block;
}

li a {
  display: block;
  color: var(--accent);
  text-align: center;
  border: 1px solid var(--accent);
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 3px;
  margin: 10px;
}

li a:hover:not(.active) {
  background-color: #B4654A;
  opacity: 0.4;
}

#header {
  color: var(--accent);
  text-align: center;
  margin-top: 12%;
}
#menu {
  text-align: center;
  margin-bottom: 25px;
}
#container {
  border: none;
  max-width: 50%;
  width: fit-content;
  margin: auto;
  padding: 30px;
  border-radius: 4px;
  background-color: #77B28C;
}
