<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'codemirror/theme/material-darker.css') }}">

    
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    
    
    <script src="{{url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
    <script src="{{url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
    <title>Nice Code</title>
  </head>

  <body>

    <div id="header">
      <h1 id="heading">< nice code ></h1> 
    </div>

    <div id="menu">
      <ul>
        <li><a href="">Import</a></li>
        <li><a href="">Export</a></li>
    </ul>
    </div>
    <style>
      .CodeMirror {
        border: 1px solid #eee;
        height: auto;
      }
    </style>
    

    <form><textarea id="code" name="code"></textarea></form>
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        viewportMargin: Infinity
      });
    </script>
   
  </body>
</html>