<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Code Nice</title>
  </head>

  <body>
    <h1 id="heading"> ~ code ~ </h1> 
    
    <ul>
        <li><a href="javascript:import_code()">Import</a></li>
        <li><a href="javascript:export_code()">Export</a></li>
    </ul>
    <div id='code_area'>
    <textarea id="code_editor" rows="4" cols="50">Sample Code</textarea>
    </div>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>